# Apache Server Access File
# OSU Capstone Website
# (c) 2019 Oregon State University

# CONFIG: change `auto_prepend_file` to the proper location before developing or merging with master
php_value auto_prepend_file "/var/www/html/bootstrap.php"
